{% extends 'google_scholar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">


      <div class="col-lg-12">

        <!-- /.card -->

        <div class="card card-outline-secondary my-4" >
          <div class="card-header">
            Article List
          </div>
          <div class="card-body">

            {% for article in article_list %}
                <h4>
                    <a href="{{ article.get_absolute_url }}">{{ article }}</a>
                </h4>
                <p class="card-text"> {{ article.journal }}</p>
                <small class="text-muted">Cited by: {{ article.cited_by }}</small>
                <hr>
            {% empty %}
                <h4>There are currently no articles available.</h4>
                <hr>
            {% endfor %}
            {% if perms.google_scholar.add_article %}
                <a href="{% url 'article_create_url' %}" class="btn btn-success">Add Article</a>
            {% endif %}
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

 {% endblock %}