{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Google Scholar Website</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css'%}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <a class="navbar-brand" href="{% url 'index_url' %}">Google Scholar Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index_url' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
            {% if perms.google_scholar.view_article %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article_list_url' %}">Article</a>
          </li>
            {% endif %}
          {% if perms.google_scholar.view_author %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'author_list_url' %}">Author</a>
          </li>
          {% endif %}
        {% if perms.google_scholar.view_journal %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'journal_list_url' %}">Journal</a>
          </li>
        {% endif %}

        {% if perms.google_scholar.view_topic %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'topic_list_url' %}">Topic</a>
          </li>
        {% endif %}
        </ul>
      </div>
        <div class="status row">
            <div class="offset-by-eight four columns">
                <ul class="inline">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout_urlpattern' %}">
                            Log Out, {{ user.get_username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'login_urlpattern' %}">
                            Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

  </nav>



  <!-- Page Content -->
  <div class="container">

    {% block content %}

    {% endblock %}

    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Google Scholar Search 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>



</body>

</html>
